/* General Styles för apartments */
body.page-apartments {
    background-color: #f0f0f0;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
        url('images/paper-texture.jpg'); 
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
}


.apartments {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.apartment-thumbnail {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.apartment-thumbnail img {
    width: 100%;
    height: auto;
}

.apartment-thumbnail p {
    padding: 10px;
    background-color: #40392b;
    color: white;
    font-size: 1rem;
    margin: 0;
}
